/node_modules
/public/hot
/storage/*.key
Archive.zip
.env.backup
.phpunit.result.cache
docker-compose.override.yml
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
error_log
/storage/tmp
.DS_Store
Archive.zi*
